<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @service.name %></h3>
      </div>
      <div class="panel-body">
        <p>
          <strong>Description:</strong>
          <%= @service.description %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency @service.price %>
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to edit_service_path(@service), class: "btn btn-default" do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
        <%= link_to @service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link", "data-toggle" => "tooltip", "data-placement" => "top", title: "Delete Service" do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clients</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Client</th>
          <th>Enrolled?</th>
          <th class="hidden-xs">As Of</th>
          <th>Preferences</th>
        </tr>
      </thead>
      <tbody>
        <% @clients = current_user.business.clients.all %>
        <% if @clients.count > 0 %>
          <% @clients.each do |c| %>
            <tr>
              <td><%= link_to c.full_name, c %></td>
              <% @enrollment = Enrollment.where(client_id: c.id, service_id: @service.id, deleted_at: nil).last %>
              <% if @enrollment.nil? %>
                <td>
                  <%= link_to enroll_path(client_id: c.id, service_id: @service.id), class: 'btn btn-link' do %>
                    <span data-toggle="tooltip" data-placement="top" title="Enroll <%= c.full_name %>"><i class="fa fa-square-o"></i> No</span>
                  <% end %>
                </td>
                <td class="hidden-xs"></td>
                <td></td>
              <% else %>
                <td>
                  <%= link_to enrollment_path(id: @enrollment, service_id: @service.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' do %>
                    <span data-toggle="tooltip" data-placement="top" title="Unenroll <%= c.full_name %>"><i class="fa fa-check-square-o"></i> Yes</span>
                  <% end %>
                </td>
                <td class="hidden-xs"><%= l @enrollment.created_at, day: @enrollment.created_at.day.ordinalize, format: :full_date %></td>
                <td><%= render 'enrollments/form', enrollment: @enrollment %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>You haven't created any clients yet. <%= link_to 'Go set up some clients...', clients_path %></td>
            <td></td>
            <td class="hidden-xs"></td>
            <td></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>