<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Addr1</th>
      <th>Addr2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.about %></td>
        <td><%= business.addr1 %></td>
        <td><%= business.addr2 %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= business.country %></td>
        <td><%= business.phone %></td>
        <td><%= business.user.try(:email) %></td>
        <td><%= link_to 'Show', business %></td>  
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
