<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @business.about %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @business.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @business.addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @business.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', mybusiness_path %>
