<h1>Invoicing Ledger Items</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Type</th>
      <th>Issue Date</th>
      <th>Currency</th>
      <th>Total Amount</th>
      <th>Tax Amount</th>
      <th>Status</th>
      <th>Identifier</th>
      <th>Description</th>
      <th>Period Start</th>
      <th>Period End</th>
      <th>UUID</th>
      <th>Due Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoicing_ledger_items.each do |invoicing_ledger_item| %>
      <tr>
        <td><%= invoicing_ledger_item.sender_id %></td>
        <td><%= invoicing_ledger_item.recipient_id %></td>
        <td><%= invoicing_ledger_item.type %></td>
        <td><%= invoicing_ledger_item.issue_date %></td>
        <td><%= invoicing_ledger_item.currency %></td>
        <td><%= invoicing_ledger_item.total_amount %></td>
        <td><%= invoicing_ledger_item.tax_amount %></td>
        <td><%= invoicing_ledger_item.status %></td>
        <td><%= invoicing_ledger_item.identifier %></td>
        <td><%= invoicing_ledger_item.description %></td>
        <td><%= invoicing_ledger_item.period_start %></td>
        <td><%= invoicing_ledger_item.period_end %></td>
        <td><%= invoicing_ledger_item.uuid %></td>
        <td><%= invoicing_ledger_item.due_date %></td>
        <td><%= link_to 'Show', invoicing_ledger_item %></td>
        <td><%= link_to 'Edit', edit_invoicing_ledger_item_path(invoicing_ledger_item) %></td>
        <td><%= link_to 'Destroy', invoicing_ledger_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoicing Ledger Item', new_invoicing_ledger_item_path %>