<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Invoice</h2>
  </div>
  <div class="panel-body">
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.sender %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.recipient %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.type %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.issue_date %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.total_amount %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.status %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.description %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.period_start %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.period_end %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @invoicing_ledger_item.due_date %>
    </p>

    
    <h4>Details:</h4>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>..</td>
            <td>..</td>
            <td>..</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
