<h3>Sign Up for Boomshift</h3>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-inputs">
          <%= f.input :email, autofocus: true %>
          <%= f.input :f_name, label: "First name" %>
          <%= f.input :l_name, label: "Last name" %>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.input :password, autocomplete: "off", label: false %>
          </div>

          <%= f.input :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="form-actions">
          <%= button_tag :submit, class: "btn btn-primary" do %>
            <i class="fa fa-sign-in"></i> Sign up
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>

<%= render "devise/shared/links" %>