<!--% @invoicing_line_items = @bills.InvoicingLineItem.all if @invoicing_line_items.nil? %-->

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Details</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Item Total</th>
      <% unless params.has_key?(:print) && params[:print] == 'true' %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @invoicing_line_items.each do |invoicing_line_item| %>
      <tr>
        <td><%= invoicing_line_item.job_id %></td>
        <td><%= invoicing_line_item.description %></td>
        <td><%= number_to_currency invoicing_line_item.net_amount %></td>
        <td><%= invoicing_line_item.quantity %></td>
        <td><%= number_to_currency(invoicing_line_item.net_amount * invoicing_line_item.quantity) %></td>
        <% unless params.has_key?(:print) && params[:print] == 'true' %>
          <td>
            <%= link_to invoicing_line_item, class: "btn btn-default btn-sm", "data-toggle" => "tooltip", "data-placement" => "top", title: "Preview" do %>
              <i class="fa fa-search"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_invoicing_line_item_path(invoicing_line_item), class: "btn btn-default btn-sm", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit" do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
          <td>
            <%= link_to invoicing_line_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", "data-toggle" => "tooltip", "data-placement" => "top", title: "Delete" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>