<% @job = Job.new if @job.nil? %>

<%= simple_form_for @job do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :enrollment, collection: Enrollment.active, label_method: :client_service, value_method: :id, prompt: 'Choose an enrolled service' %>
  <% if f.object.new_record? %>
    <%= f.input :job_date, as: :datetime_picker, input_html: { data: { date_options: { defaultDate: Time.zone.now } }, value: Time.zone.now.strftime("%B #{Time.zone.now.day.ordinalize}, %Y @ %l:%M %p") } %>
  <% else %>
    <%= f.input :job_date, as: :datetime_picker, input_html: { data: { date_options: { defaultDate: @job.job_date } }, value: @job.job_date.strftime("%B #{@job.job_date.day.ordinalize}, %Y @ %l:%M %p") } %>
  <% end %>
  <%= f.association :job_status, label_method: :status, value_method: :id %>
  <%= f.input :hours_worked, input_html: { min: '0', step: '0.25' } %>
  <%= f.button :submit %>
<% end %>