<div class="panel panel-default" data-id="<%= job.id %>">
  <div class="panel-heading">
    <h4 class="panel-title"><%= job.enrollment.client.fname %> <%= job.enrollment.client.lname %></h4>
  </div>
  <div class="panel-body">
    <p><%= truncate job.enrollment.service.name, length: 50 %></p>
    <p><%= job.job_date %></p>
    <p><%= link_to 'Edit', edit_job_path(job) %> <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</div>