<div class="panel panel-default"> <!-- id="<%= job.id %>" data-id="<%= job.id %>" draggable="true" -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <h4 class="panel-title"><%= job.enrollment.client.fname %> <%= job.enrollment.client.lname %></h4>
      </div>
      <div class="col-md-4 text-right">
        <% if job.job_status_id == 1 %> <!-- If Scheduled -->
          <!-- TODO: Need to hook up events, and make disabled list items based on job_date -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="Change scheduled job date"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#"><i class="glyphicon glyphicon-calendar"></i> Yesterday</a></li>
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1"  href="#"><i class="glyphicon glyphicon-calendar"></i> Today</a></li>
            <li role="presentation" class=""><a role="menuitem" tabindex="-1"  href="#"><i class="glyphicon glyphicon-calendar"></i> Tomorrow</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class=""><a role="menuitem" tabindex="-1"  href="#"><i class="glyphicon glyphicon-edit"></i> Later...</a></li>
          </ul>
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 2, completed_on: Time.zone.now}), method: :put, class: "" do %>
            <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="Mark this job complete"></i>
          <% end %>
        <% end %>
        <% if job.job_status_id == 2 %> <!-- If Completed -->
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 1, completed_on: nil }), method: :put, class: "" do %>
            <i class="fa fa-undo" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been completed yet..."></i>
          <% end %>
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 3, paid_on: Time.zone.now}), method: :put, class: "" do %>
            <i class="glyphicon glyphicon-piggy-bank" data-toggle="tooltip" data-placement="top" title="Mark this job paid"></i>
          <% end %>
        <% end %>
        <% if job.job_status_id == 3 %> <!-- If Paid -->
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 2, paid_on: nil}), method: :put, class: "" do %>
            <i class="fa fa-undo" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been paid yet..."></i>
          <% end %>
        <% end %>
      </div>    
    </div>
  </div>
  <div class="panel-body">
    <p><%= truncate job.enrollment.service.name, length: 50 %></p>
    <p>Appointment: <%= job.job_date.strftime("%B #{job.job_date.day.ordinalize}, %Y @ %l:%M %p") %></p>
    <% if job.job_status_id == 2 %> <!-- If Completed -->
      <p>Marked complete on: <%= job.completed_on.strftime("%B #{job.job_date.day.ordinalize}, %Y") %></p>
    <% end %>
    <% if job.job_status_id == 3 %> <!-- If Paid -->
      <p>Marked complete on: <%= job.completed_on.strftime("%B #{job.job_date.day.ordinalize}, %Y") %></p>
      <p>Marked paid on: <%= job.paid_on.strftime("%B #{job.job_date.day.ordinalize}, %Y") %></p>
    <% end %>
    <%= link_to edit_job_path(job), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-edit"></i> Edit
    <% end %>
    <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
      <i class="glyphicon glyphicon-trash"></i> Delete
    <% end %>
  </div>
</div>