<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#cardBody_<%= job.id %>" aria-expanded="true" aria-controls="cardBody_<%= job.id %>"><h5 class="panel-title text-nowrap text-ellipsis"><strong><%= job.enrollment.client.full_name %>:</strong> <%= truncate job.enrollment.service.name, length: 50 %></h5></a>
  </div>
  <div class="panel-body notecard collapse in" id="cardBody_<%= job.id %>">
    <p><strong>Appointment:</strong> <%= l job.date.in_time_zone, day: job.date.day.ordinalize, format: :human_datetime %></p>
    <% if job.job_status_id == 2 || job.job_status_id == 3 || job.job_status_id == 4 %> <!-- If Completed, Billed, Paid -->
      <p><strong>Marked complete on:</strong> <%= l job.completed_on.in_time_zone, day: job.completed_on.day.ordinalize, format: :human_datetime %></p>
    <% end %>
    <% if job.job_status_id == 2 %> <!-- If Completed -->
      <p><strong>Hours worked:</strong> <%= job.hours_worked %></p>
      <p><strong>Amount owed:</strong> <%= number_to_currency job.amount %> (<%= link_to 'Bill ' + job.bill_identifier, bill_path(job.bill) %>)</p>
    <% end %>
    <% if job.job_status_id == 3 %> <!-- If Billed -->
      <p><strong><%= link_to 'Bill ' + job.bill_identifier, bill_path(job.bill) %> sent on:</strong> <%= l job.billed_on.in_time_zone, day: job.billed_on.day.ordinalize, format: :human_datetime %></p>
      <p><strong>Amount owed:</strong> <%= number_to_currency job.amount %>  (for <%= pluralize job.hours_worked, 'hour' %>)</p>
    <% end %>
    <% if job.job_status_id == 4 %> <!-- If Paid -->
      <p><strong><%= link_to 'Bill ' + job.bill_identifier, bill_path(job.bill) %> paid on:</strong> <%= l job.paid_on.in_time_zone, day: job.paid_on.day.ordinalize, format: :human_datetime %></p>
      <p><strong>Amount paid:</strong> <%= number_to_currency job.amount %> (for <%= pluralize job.hours_worked, 'hour' %>)</p>
    <% end %>
  </div>
  <div class="panel-footer text-center">
        <% if job.job_status_id == 1 %> <!-- If Scheduled -->
          <span data-toggle="tooltip" data-placement="top" title="Mark this job complete and create a bill for it">
            <a href="#"><i class="fa fa-check fa-lg" data-toggle="modal" data-target="#JobHours_<%= job.id %>"></i></a>
          </span>
          &nbsp;
          <%= link_to edit_job_path(job) do %>
            <i class="fa fa-pencil-square-o fa-lg" data-toggle="tooltip" data-placement="top" title="Edit"></i>
          <% end %>
          &nbsp;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-calendar fa-lg" data-toggle="tooltip" data-placement="top" title="Change scheduled job date to..."></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% @t = job.date.time %>

            <!-- Yesterday -->
            <% if job.date.day == Time.now.yesterday.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>

            <!-- Yesterday -->
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.yesterday.year, Time.now.yesterday.month, Time.now.yesterday.day) %>
              <% @job_dt1 = l (@d + @t.seconds_since_midnight.seconds).to_datetime, format: :default_datetime %>

              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, date: @job_dt1}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Yesterday
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Yesterday
                </a>
              <% end %>
            </li>

            <!-- Today -->
            <% if job.date.day == Time.now.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>

            <!-- Today -->
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.year, Time.now.month, Time.now.day) %>
              <% @job_dt2 = l (@d + @t.seconds_since_midnight.seconds).to_datetime, format: :default_datetime %>

              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, date: @job_dt2}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Today
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Today
                </a>
              <% end %>
            </li>

            <!-- Tomorrow -->
            <% if job.date.day == Time.now.tomorrow.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>

            <!-- Tomorrow -->
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.tomorrow.year, Time.now.tomorrow.month, Time.now.tomorrow.day) %>
              <% @job_dt3 = l (@d + @t.seconds_since_midnight.seconds).to_datetime, format: :default_datetime %>

              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, date: @job_dt3}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Tomorrow
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Tomorrow
                </a>
              <% end %>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation" class="">
              <%= link_to edit_job_path(job), role: 'menuitem', tabindex: -1 do %>
                <i class="fa fa-pencil-square-o"></i> Something else...
              <% end %>
            </li>
          </ul>
          &nbsp;
          <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash fa-lg" data-toggle="tooltip" data-placement="top" title="Delete"></i>
          <% end %>
        <% end %>

        <% if job.job_status_id == 2 %> <!-- If Completed -->
          <!--%= link_to job_path(job, job: {job_status_id: 1, completed_on: nil }), method: :put, class: "" do %-->
            <!--i class="fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been completed yet..."></i-->
          <!--% end %-->
          <%= link_to job_path(job, job: {job_status_id: 3, billed_on: Time.now}), method: :put, class: "" do %>
            <i class="fa fa-paper-plane fa-lg" data-toggle="tooltip" data-placement="top" title="Mark this job billed and send the bill to the client"></i>
          <% end %>
          &nbsp;
          <%= link_to bill_path(job.bill) do %>
            <i class="fa fa-file-text-o fa-lg" data-toggle="tooltip" data-placement="top" title="Go to the bill for this job"></i>
          <% end %>
        <% end %>

        <% if job.job_status_id == 3 %> <!-- If Billed -->
          <%= link_to job_path(job, job: {job_status_id: 4, paid_on: Time.now}), method: :put, class: "" do %>
            <i class="fa fa-bank fa-lg" data-toggle="tooltip" data-placement="top" title="Mark this job paid"></i>
          <% end %>
          &nbsp;
          <%= link_to bill_path(job.bill) do %>
            <i class="fa fa-file-text-o fa-lg" data-toggle="tooltip" data-placement="top" title="Go to the bill for this job"></i>
          <% end %>
        <% end %>

        <% if job.job_status_id == 4 %> <!-- If Paid -->
          <%= link_to bill_path(job.bill) do %>
            <i class="fa fa-file-text-o fa-lg" data-toggle="tooltip" data-placement="top" title="Go to the bill for this job"></i>
          <% end %>
          <!--%= link_to job_path(job, job: {job_status_id: 3, paid_on: nil}), method: :put, class: "" do %-->
            <!--i class="fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been paid yet..."></i-->
          <!--% end %-->
        <% end %>
  </div>
</div>

<!-- Modal -->
<%= simple_form_for job do |f| %>
  <div class="modal fade" id="JobHours_<%= job.id %>" tabindex="-1" role="dialog" aria-labelledby="JobHoursLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="JobHoursLabel">Enter Hours Worked</h4>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :job_status_id, value: 2 %>
          <%= f.hidden_field :completed_on, value: Time.now %>
          <%= f.input :hours_worked, input_html: { min: '0', step: '0.25' } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i> Cancel
          </button>
          <%= f.button :button, class: "btn btn-primary", "data-disable-with" => "Saving...", "data-toggle" => "tooltip", "data-placement" => "top", title: "Mark this job complete and create a bill for it" do %>
            <i class="fa fa-floppy-o"></i> Save
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>