<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <h5 class="panel-title"><%= job.id %>: <%= job.enrollment.client.full_name %></h5>
      </div>
      <div class="col-md-4 text-right">
        <% if job.job_status_id == 1 %> <!-- If Scheduled -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-calendar fa-lg" data-toggle="tooltip" data-placement="top" title="Change scheduled job date to..."></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="">
              <%= link_to edit_job_path(job), role: 'menuitem', tabindex: -1 do %>
                <i class="fa fa-pencil-square-o"></i> Before Yesterday...
              <% end %>
            </li>
            
            <li role="presentation" class="divider"></li>
            
            <% @t = job.job_date.time %>
            
            <% if job.job_date.day == Time.now.yesterday.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>
            
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.yesterday.year, Time.now.yesterday.month, Time.now.yesterday.day) %>
              <% @job_dt1 = (@d + @t.seconds_since_midnight.seconds).to_datetime %>
              
              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, job_date: @job_dt1}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Yesterday
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Yesterday
                </a>
              <% end %>
            </li>
            
            <% if job.job_date.day == Time.now.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>
            
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.year, Time.now.month, Time.now.day) %>
              <% @job_dt2 = (@d + @t.seconds_since_midnight.seconds).to_datetime %>
              
              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, job_date: @job_dt2}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Today
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Today
                </a>
              <% end %>
            </li>
            
            <% if job.job_date.day == Time.now.tomorrow.day %>
              <% @disabled = "disabled" %>
            <% else %>
              <% @disabled = "" %>
            <% end %>
            
            <li role="presentation" class='<%= @disabled %>'>
              <% @d = Date.new(Time.now.tomorrow.year, Time.now.tomorrow.month, Time.now.tomorrow.day) %>
              <% @job_dt3 = (@d + @t.seconds_since_midnight.seconds).to_datetime %>
              
              <% if @disabled == "" %>
                <%= link_to job_path(job, job: {id: job.id, job_date: @job_dt3}), method: :put, role: 'menuitem', tabindex: -1 do %>
                  <i class="fa fa-calendar"></i> Tomorrow
                <% end %>
              <% else %>
                <a role="menuitem" tabindex="-1">
                  <i class="fa fa-calendar"></i> Tomorrow
                </a>
              <% end %>
            </li>
            
            <li role="presentation" class="divider"></li>
            
            <li role="presentation" class="">
              <%= link_to edit_job_path(job), role: 'menuitem', tabindex: -1 do %>
                <i class="fa fa-pencil-square-o"></i> After Tomorrow...
              <% end %>
            </li>
          </ul>
                
          <span data-toggle="tooltip" data-placement="top" title="Mark this job complete and create a bill for it">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link btn-xs" data-toggle="modal" data-target="#JobHours">
              <i class="fa fa-check fa-lg"></i>
            </button>
          </span>
        <% end %>
        
        <% if job.job_status_id == 2 %> <!-- If Completed -->
          <!--%= link_to job_path(job, job: {id: job.id, job_status_id: 1, completed_on: nil }), method: :put, class: "" do %>
            <i class="fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been completed yet..."></i-->
          <!--% end %-->
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 3, billed_on: Time.zone.now}), method: :put, class: "" do %>
            <i class="fa fa-paper-plane fa-lg" data-toggle="tooltip" data-placement="top" title="Mark this job billed and send the bill to the client"></i>
          <% end %>
        <% end %>
        
        <% if job.job_status_id == 3 %> <!-- If Billed -->
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 4, paid_on: Time.zone.now}), method: :put, class: "" do %>
            <i class="fa fa-bank fa-lg" data-toggle="tooltip" data-placement="top" title="Mark this job paid"></i>
          <% end %>
        <% end %>
        
        <% if job.job_status_id == 4 %> <!-- If Paid -->
          <%= link_to job_path(job, job: {id: job.id, job_status_id: 3, paid_on: nil}), method: :put, class: "" do %>
            <i class="fa fa-undo fa-lg" data-toggle="tooltip" data-placement="top" title="Actually this job hasn't been paid yet..."></i>
          <% end %>
        <% end %>
        
      </div>    
    </div>
  </div>
  <div class="panel-body">
    <h5><strong><%= truncate job.enrollment.service.name, length: 50 %></strong></h5>
    <hr>
    <p><strong>Appointment:</strong> <%= l job.job_date, day: job.job_date.day.ordinalize, format: :human_datetime %></p>
    <% if job.job_status_id == 2 %> <!-- If Completed -->
      <p><strong>Marked complete on:</strong> <%= l job.completed_on, day: job.completed_on.day.ordinalize, format: :human_datetime %></p>
      <% job_bills = InvoicingLedgerItem.joins(:line_items).where("job_id = ?", job.id) %>
      <p><strong>Hours worked:</strong> <%= job.hours_worked %></p>
      <p><strong>Amount owed:</strong> <%= number_to_currency job.amount %> (<%= link_to 'Bill ' + job.bill_identifier, bill_path(job_bills.first) if job_bills.any? %>)</p>
    <% end %>
    <% if job.job_status_id == 3 %> <!-- If Billed -->
      <p><strong>Marked complete on:</strong> <%= l job.completed_on, day: job.completed_on.day.ordinalize, format: :human_datetime %></p>
      <% job_bills = InvoicingLedgerItem.joins(:line_items).where("job_id = ?", job.id) %>
      <p><strong><%= link_to 'Bill ' + job.bill_identifier, bill_path(job_bills.first) if job_bills.any? %> sent on:</strong> <%= l job.billed_on, day: job.billed_on.day.ordinalize, format: :human_datetime %></p>
    <% end %>
    <% if job.job_status_id == 4 %> <!-- If Paid -->
      <p><strong>Marked complete on:</strong> <%= l job.completed_on, day: job.completed_on.day.ordinalize, format: :human_datetime %></p>
      <% job_bills = InvoicingLedgerItem.joins(:line_items).where("job_id = ?", job.id) %>
      <p><strong><%= link_to 'Bill ' + job.bill_identifier, bill_path(job_bills.first) if job_bills.any? %> paid on:</strong> <%= l job.paid_on, day: job.paid_on.day.ordinalize, format: :human_datetime %></p>
      <p><strong>Amount paid:</strong> <%= number_to_currency job.amount %> (for <%= pluralize job.hours_worked, 'hour' %>)</p>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to edit_job_path(job), class: "btn btn-default" do %>
      <i class="fa fa-pencil-square-o"></i> Edit
    <% end %>
    <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
      <i class="fa fa-trash"></i> Delete
    <% end %>
  </div>
</div>

<!-- Modal -->
<%= simple_form_for job do |f| %>
  <div class="modal fade" id="JobHours" tabindex="-1" role="dialog" aria-labelledby="JobHoursLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="JobHoursLabel">Enter Hours Worked</h4>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :job_status_id, value: 2 %>
          <%= f.hidden_field :completed_on, value: Time.zone.now %>
          <%= f.input :hours_worked, input_html: { min: '0', step: '0.25' } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times"></i> Cancel
          </button>
          <%= f.button :button, class: "btn btn-primary", "data-toggle" => "tooltip", "data-placement" => "top", title: "Mark this job complete and create a bill for it" do %>
            <i class="fa fa-floppy-o"></i> Save
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>