<h3>Job Summary</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Count</th>
      <th>Dollars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scheduled</td>
      <td><%= @jobs.scheduled.count %></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Completed</td>
      <td><%= @jobs.completed.count %></td>
      <td><%= number_to_currency(@jobs.first.amount_total(2, current_user.business.id)) if @jobs.completed.any? %></td>
    </tr>
    <tr>
      <td>Billed</td>
      <td><%= @jobs.billed.count %></td>
      <td><%= number_to_currency @jobs.first.amount_total(3, current_user.business.id) if @jobs.billed.any? %></td>
    </tr>
    <tr>
      <td>Paid</td>
      <td><%= @jobs.paid.count %></td>
      <td><%= number_to_currency @jobs.first.amount_total(4, current_user.business.id) if @jobs.paid.any? %></td>
    </tr>
  </tbody>
</table>