<% set_return_url %>
<!--%= session[:original_url] %-->

<div class="row" id="board">
  <div class="col-sm-3 col-xs-12" id="Scheduled">
    <h3>Scheduled</h3>
    <hr>
    <%= link_to new_job_path(@job), class: "btn btn-default" do %>
      <i class="fa fa-plus"></i> Schedule a New Job
    <% end %>
    <br><br>
    <% if @jobs.scheduled_before_yesterday.any? %>
    <div class="row">
      <div class="col-lg-12" id="ScheduledBeforeYesterday">
        <h4>Before Yesterday</h4>
        <%= render @jobs.scheduled_before_yesterday %>
      </div>
    </div>
    <% end %>
    <% if @jobs.scheduled_yesterday.any? %>
      <div class="row">
        <div class="col-lg-12" id="ScheduledYesterday">
          <h4>Yesterday</h4>
          <%= render @jobs.scheduled_yesterday %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-12" id="ScheduledToday">
        <h4>Today</h4>
        <% if @jobs.scheduled_today.any? %>
          <%= render @jobs.scheduled_today %>
        <% else %>
          <p>No jobs are scheduled for today.</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" id="ScheduledTomorrow">
        <h4>Tomorrow</h4>
        <% if @jobs.scheduled_tomorrow.any? %>
          <%= render @jobs.scheduled_tomorrow %>
        <% else %>
          <p>No jobs are scheduled for tomorrow.</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" id="ScheduledAfterTomorrow">
        <h4>After Tomorrow</h4>
        <% if @jobs.scheduled_after_tomorrow.any? %>
          <%= render @jobs.scheduled_after_tomorrow %>
        <% else %>
          <p>No jobs are scheduled after tomorrow.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12" id="Completed">
    <h3 class="">Completed <span class="label label-info" data-toggle="tooltip" data-placement="bottom" title="This is how much money you should be paid for completed jobs, after you bill your clients."><%= number_to_currency(@jobs.first.amount_total(2, current_user.business.id)) if @jobs.completed.any? %></span></h3>
    <hr>
    <% if @jobs.completed.any? %>
      <%= render @jobs.completed %>
    <% else %>
      <p>No jobs have been completed yet.</p>
    <% end %>
  </div>
  <div class="col-sm-3 col-xs-12" id="Billed">
    <h3 class="">Billed <span class="label label-warning" data-toggle="tooltip" data-placement="bottom" title="This is how much money you are waiting for your clients to pay you."><%= number_to_currency @jobs.first.amount_total(3, current_user.business.id) if @jobs.billed.any? %></span></h3>
    <hr>
    <% if @jobs.billed.any? %>
      <%= render @jobs.billed %>
    <% else %>
      <p>No completed jobs have been billed yet.</p>
    <% end %>
  </div>
  <div class="col-sm-3 col-xs-12" id="Paid">
    <h3 class="">Paid <span class="label label-success" data-toggle="tooltip" data-placement="bottom" title="Cha-ching! This is how much money you have collected from your clients for completed jobs."><%= number_to_currency @jobs.first.amount_total(4, current_user.business.id) if @jobs.paid.any? %></span></h3><hr>
    <% if @jobs.paid.any? %>
    <%= render @jobs.paid %>
    <% else %>
      <p>No billed jobs have been paid yet.</p>
    <% end %>
  </div>
</div>