<% set_return_url %>
<!--%= session[:original_url] %-->

<p id="notice"><%= notice %></p>

<%= link_to new_job_path(@job), class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-plus"></i> New Job
<% end %>

<div class="row" id="board">
  <div class="col-md-4" id="Scheduled"><h3>Scheduled Jobs</h3><hr>
    <div class="col-md-12" id="ScheduledBeforeYesterday"><h4>Before Yesterday</h4>
      <% if @jobs.where("job_date < ? AND job_status_id = ?", Time.zone.yesterday.beginning_of_day, 1).any? %>
        <%= render @jobs.where("job_date < ? AND job_status_id = ?", Time.zone.yesterday.beginning_of_day, 1).order(:job_date) %>
      <% else %>
        <p>No jobs were scheduled before yesterday.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledYesterday"><hr><h4>Yesterday</h4>
      <% if @jobs.where(job_date: ((Time.zone.now.beginning_of_day - 1.day)..Time.zone.now.beginning_of_day), job_status_id: 1).any? %>
        <%= render @jobs.where(job_date: ((Time.zone.now.beginning_of_day - 1.day)..Time.zone.now.beginning_of_day), job_status_id: 1).order(:job_date) %>
      <% else %>
        <p>No jobs were scheduled for yesterday.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledToday"><hr><h4>Today</h4>
      <% if @jobs.where(job_date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day, job_status_id: 1).any? %>
        <%= render @jobs.where(job_date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day, job_status_id: 1).order(:job_date) %>
      <% else %>
        <p>No jobs are scheduled for today.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledTomorrow"><hr><h4>Tomorrow</h4>
      <% if @jobs.where(job_date: Time.zone.now.end_of_day..(Time.zone.now.end_of_day + 1.day), job_status_id: 1).any? %>
        <%= render @jobs.where(job_date: Time.zone.now.end_of_day..(Time.zone.now.end_of_day + 1.day), job_status_id: 1).order(:job_date) %>
      <% else %>
        <p>No jobs are scheduled for tomorrow.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledAfterTomorrow"><hr><h4>After Tomorrow</h4>
      <% if @jobs.where(job_date: (Time.zone.now.end_of_day + 1.day)..(Time.zone.now.end_of_day + 10.years), job_status_id: 1).any? %>
        <%= render @jobs.where(job_date: (Time.zone.now.end_of_day + 1.day)..(Time.zone.now.end_of_day + 10.years), job_status_id: 1).order(:job_date) %>
      <% else %>
        <p>No jobs are scheduled after tomorrow.</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4" id="Completed"><h3>Completed Jobs <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="This is how much money your clients owe you"><%= @jobs.first.bill_total(2) %></span></h3><hr>
    <% if @jobs.where(job_status_id: 2).any? %>
      <%= render @jobs.where(job_status_id: 2).order(completed_on: :desc) %>
    <% else %>
      <p>No jobs have been completed yet.</p>
    <% end %>
  </div>
  <div class="col-md-4" id="Paid"><h3>Paid Jobs <span class="label label-success" data-toggle="tooltip" data-placement="top" title="Cha-ching!"><%= @jobs.first.bill_total(3) %></span></h3><hr>
    <% if @jobs.where(job_status_id: 3).any? %>
      <%= render @jobs.where(job_status_id: 3).order(paid_on: :desc) %>
    <% else %>
      <p>No jobs have been paid yet.</p>
    <% end %>
  </div>
</div>

