<% set_return_url %>
<!--%= session[:original_url] %-->

<p id="notice"><%= notice %></p>

<%= link_to new_job_path(@job), class: "btn btn-default" do %>
  <i class="fa fa-plus"></i> New Job
<% end %>

<div class="row" id="board">
  <div class="col-md-3" id="Scheduled">
    <h4>Scheduled Jobs</h4><hr>
    <div class="col-md-12" id="ScheduledBeforeYesterday">
      <h5>Before Yesterday</h5>
      <% if @jobs.scheduled_before_yesterday.any? %>
        <%= render @jobs.scheduled_before_yesterday %>
      <% else %>
        <p>No jobs were scheduled before yesterday.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledYesterday">
      <hr><h5>Yesterday</h5>
      <% if @jobs.scheduled_yesterday.any? %>
        <%= render @jobs.scheduled_yesterday %>
      <% else %>
        <p>No jobs were scheduled for yesterday.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledToday">
      <hr><h5>Today</h5>
      <% if @jobs.scheduled_today.any? %>
        <%= render @jobs.scheduled_today %>
      <% else %>
        <p>No jobs are scheduled for today.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledTomorrow">
      <hr><h5>Tomorrow</h5>
      <% if @jobs.scheduled_tomorrow.any? %>
        <%= render @jobs.scheduled_tomorrow %>
      <% else %>
        <p>No jobs are scheduled for tomorrow.</p>
      <% end %>
    </div>
    <div class="col-md-12" id="ScheduledAfterTomorrow">
      <hr><h5>After Tomorrow</h5>
      <% if @jobs.scheduled_after_tomorrow.any? %>
        <%= render @jobs.scheduled_after_tomorrow %>
      <% else %>
        <p>No jobs are scheduled after tomorrow.</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3" id="Completed">
    <h4>Completed Jobs <span class="label label-info" data-toggle="tooltip" data-placement="top" title="This is how much money you should be paid for completed jobs"><%= number_to_currency(@jobs.first.bill_total(2)) if @jobs.completed.any? %></span></h4><hr>
    <% if @jobs.completed.any? %>
      <%= render @jobs.completed %>
    <% else %>
      <p>No jobs have been completed yet.</p>
    <% end %>
  </div>
  <div class="col-md-3" id="Billed">
    <h4>Billed Jobs <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="This is how much money you are waiting for your clients to pay you"><%= number_to_currency @jobs.first.bill_total(3) if @jobs.billed.any? %></span></h4><hr>
    <% if @jobs.billed.any? %>
      <%= render @jobs.billed %>
    <% else %>
      <p>No completed jobs have been billed yet.</p>
    <% end %>
  </div>
  <div class="col-md-3" id="Paid">
    <h4>Paid Jobs <span class="label label-success" data-toggle="tooltip" data-placement="top" title="Cha-ching!"><%= number_to_currency @jobs.first.bill_total(4) if @jobs.paid.any? %></span></h4><hr>
    <% if @jobs.paid.any? %>
    <%= render @jobs.paid %>
    <% else %>
      <p>No billed jobs have been paid yet.</p>
    <% end %>
  </div>
</div>