<% set_return_url %>
<!--%= session[:original_url] %-->

<p id="notice"><%= notice %></p>

<h2>Today's Jobs</h2>

<hr>

<p><%= link_to new_job_path(@job), class: "btn btn-default" do %>
  <i class="fa fa-plus"></i> New Job
<% end %></p>
<br>

<% @jobs = Job.where(job_date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day, job_status_id: 1).order(:job_date) %>

<% if @jobs.any? %>
  <% @jobs.each do |job| %>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h4 class="panel-title"><%= job.enrollment.client.full_name %></h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p><%= truncate job.enrollment.service.name, length: 50 %>, today @ <%= l job.job_date, format: :default_time %>.</p>
        <%= link_to edit_job_path(job), class: "btn btn-default" do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
        <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No jobs are scheduled for today.</p>
<% end %>