<h1>Listing client_profiles</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Addr1</th>
      <th>Addr2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_profiles.each do |client_profile| %>
      <tr>
        <td><%= client_profile.fname %></td>
        <td><%= client_profile.lname %></td>
        <td><%= client_profile.addr1 %></td>
        <td><%= client_profile.addr2 %></td>
        <td><%= client_profile.city %></td>
        <td><%= client_profile.state %></td>
        <td><%= client_profile.country %></td>
        <td><%= client_profile.phone %></td>
        <td><%= link_to 'Show', client_profile %></td>
        <td><%= link_to 'Edit', edit_client_profile_path(client_profile) %></td>
        <td><%= link_to 'Destroy', client_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client profile', new_client_profile_path %>
