<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_profile.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @business_profile.about %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @business_profile.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @business_profile.addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @business_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business_profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business_profile.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business_profile.phone %>
</p>

<% if @pin.user == current_user %>
  <%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
<% end %>
<%= link_to 'Back', business_profiles_path %>
