<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @client.fname %> <%= @client.lname %></h3>
      </div>
      <div class="panel-body">
        <address>
          <strong>Address</strong><br>
          <%= @client.addr1 %><br>
          <%= @client.addr2 %><% unless @client.addr2.blank? %><br><% end %>
          <%= @client.city %>, <%= @client.state %> <%= @client.postal_code %><br>
          <%= @client.country %>
        </address>
        <p>
          <strong>Phone:</strong>
          <%= @client.phone %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @client.email %>
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to edit_client_path(@client), class: "btn btn-default" do %>
          <i class="fa fa-pencil-square-o"></i> Edit
        <% end %>
        <%= link_to @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", "data-toggle" => "tooltip", "data-placement" => "top", title: "Delete Client" do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available Services</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Enrolled?</th> <!-- This is for the Enrollment button -->
        <th>As Of</th>
        <th>Preferences</th>
      </tr>
      </thead>
      <tbody>
        <% @services = current_user.business.services.all %>
        <% if @services.count > 0 %>
          <% @services.each do |s| %>
            <tr>
              <td><%= s.name %></td>
              <td><%= s.description %></td>
              <% @enrollment = Enrollment.where(client_id: @client.id, service_id: s.id, deleted_at: nil).last %>
              <% if @enrollment.nil? %>
                <td>
                  <%= link_to enroll_path(client_id: @client.id, service_id: s.id), class: 'btn btn-link' do %>
                    <span data-toggle="tooltip" data-placement="top" title="Enroll in <%= s.name.downcase %>"><i class="fa fa-square-o"></i> No</span>
                  <% end %>
                </td>
                <td></td>
                <td></td>
              <% else %>
                <td>
                  <%= link_to enrollment_path(id: @enrollment, client_id: @client.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' do %>
                    <span data-toggle="tooltip" data-placement="top" title="Unenroll from <%= s.name.downcase %>"><i class="fa fa-check-square-o"></i> Yes</span>
                  <% end %>
                </td>
                <td><%= l @enrollment.created_at, format: :full_date %></td>
                <td>
                  <!--%= @enrollment.preferences %-->
                  <%= render 'enrollments/form', enrollment: @enrollment %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>You haven't created any services yet. <%= link_to 'Go set up some services...', services_path %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', clients_path %>