<h3>Bills</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Client</th>
      <th>Bill</th>
      <th>Status</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th>Total Amount</th>
      <th>Job</th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.recipient.full_name %></td>
        <td>
          <%= link_to bill, class: "btn btn-link btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "View Bill" do %>
            <i class="fa fa-search"></i> <%= bill.identifier %>
          <% end %>
        </td>
        <td><%= bill.status %></td>
        <td><%= l bill.issue_date, format: :default_date if bill.issue_date %></td>
        <td><%= l bill.due_date, format: :default_date %></td>
        <td><%= number_to_currency bill.total_amount %></td>
        <td><%= bill.line_items.first.job.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>