<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Bill <%= @bill.identifier %></h2>
  </div>
  <div class="panel-body">
    <p>
      <strong>Receipient:</strong>
      <%= @bill.recipient.full_name %>
    </p>
    <p>
      <strong>Type:</strong>
      <%= @bill.type %>
    </p>
    <p>
      <strong>Issue Date:</strong>
      <%= l @bill.issue_date, format: :default_date if @bill.issue_date %>
    </p>
    <p>
      <strong>Total Amount:</strong>
      <%= number_to_currency @bill.total_amount %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @bill.status %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @bill.description %>
    </p>
    <p>
      <strong>Period Start:</strong>
      <%= l @bill.period_start, format: :default_date  %>
    </p>
    <p>
      <strong>Period End:</strong>
      <%= l @bill.period_end, format: :default_date %>
    </p>
    <p>
      <strong>Due Date:</strong>
      <%= l @bill.due_date, format: :default_date %>
    </p>
    
    <hr>
    
    <h4>Details:</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'invoicing_line_items/list' %>
      </div>  
    </div>
  </div>
</div>

<%= link_to 'Back', :back %>