<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <address>
      <strong><%= @bill.business_name %></strong><br>
      <%= @bill.business_addr1 %><br>
      <%= @bill.business_addr2 %><% unless @bill.business_addr2.blank? %><br><% end %>
      <%= @bill.business_city %>, <%= @bill.business_state %> <%= @bill.business_postal_code %>
    </address>
  </div>
  <div class="col-md-3">
    <p>
      <strong>Issue Date:</strong>
      <%= l @bill.issue_date, format: :default_date if @bill.issue_date %>
    </p>
    <p>
      <strong>Due Date:</strong>
      <%= l @bill.due_date, format: :default_date %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Bill <%= @bill.identifier %></h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        <h5>Bill To:</h5><br>
      </div>
      <div class="col-md-11">
        <adress>
          <strong><%= @bill.recipient.full_name %></strong><br>
          <%= @bill.client_addr1 %><br>
          <%= @bill.client_addr2 %><% unless @bill.client_addr2.blank? %><br><% end %>
          <%= @bill.client_city %>, <%= @bill.client_state %> <%= @bill.client_postal_code %>
        </adress>
      </div>
    </div>
    <% unless params.has_key?(:print) && params[:print] == 'true' %>
      <%= link_to edit_bill_path(@bill), class: "btn btn-default" do %>
        <i class="fa fa-pencil-square-o"></i> Edit
      <% end %>

      <%= link_to bill_path(@bill, print: 'true'), class: "btn btn-default", target: "_blank", "data-toggle" => "tooltip", "data-placement" => "top", title: "Open a new window with this bill in a printer-friendly format." do %>
        <i class="fa fa-print"></i> Printer Friendly
      <% end %>
    <% end %>
    
    <hr>
    
    <h4>Details:</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'invoicing_line_items/list' %>
        <% unless params.has_key?(:print) && params[:print] == 'true' %>
          <%= link_to new_invoicing_line_item_path(ledger_item_id: @bill), class: 'btn btn-default', "data-toggle" => "tooltip", "data-placement" => "top", title: "Click here to bill #{@bill.recipient.full_name} for a job you completed." do %>
            <i class="fa fa-plus"></i> Add Line Item
          <% end %>
        <% end %>
      </div>
      <div class="panel-footer">
        <p class="text-right">
          <span class="h5"><strong>Bill Total: </strong><%= number_to_currency @bill.total_amount %></span>
        </p>
      </div>
    </div>
  </div>
</div>

<% unless params.has_key?(:print) && params[:print] == 'true' %>
  <%= link_to 'Back', :back %>
<% else %>
  Thank you for your business!
<% end %>