<h1>My Business</h1>
<hr>

<% unless @business %>
  <h3>To get started using Boomshift, you need to <%= link_to ' create your business profile...', new_business_path %></h3>
  <hr>
<% end %>

<div class="row">
  <div class="col-md-4">
    <% if @business %>
      <%= render partial: "businesses/business", object: @business %>
      <% if @payment_term%>
        <%= render partial: "payment_terms/payment_terms", object: @payment_terms %>
      <% else %>
      <h3 class="text-center"><%= link_to 'Set my payment terms', new_payment_term_path, class: "btn btn-link btn-lg" %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @business %>
      <%= render partial: "services/services", object: @services %>
    <% end %>
  </div>
</div>