<h1>My Clients</h1>
<hr>

<% @biz = current_user.business %>
<% if @biz %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center"><%= link_to "Job Board", jobs_path, class: "btn btn-link btn-lg" %></h3>
        </div>
      </div>
    </div>
<!--     <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center"><%= link_to "Client Map (Coming Soon)", myclients_path, class: "btn btn-link btn-lg" %></h3>
        </div>
      </div>
    </div> -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center"><%= link_to "Billing", bills_path, class: "btn btn-link btn-lg" %></h3>
        </div>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center"><%= link_to "Address Book", clients_path, class: "btn btn-link btn-lg" %></h3>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3>First, you need to <%= link_to ' create your business profile...', new_business_path, class: "btn btn-link btn-lg" %></h3>
<% end %>