<% if not @enrollment.nil? %>
  <%= form_for(@enrollment) do |f| %>
    <% if @enrollment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

        <ul>
        <% @enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="input-group">
      <%= f.text_field :preferences, class: 'form-control' %>
      <span class="input-group-btn" data-toggle="tooltip" data-placement="left" title="Save preferences">
        <%= hidden_field_tag(:client_id, @client.id) %>
        <%= button_tag type: 'submit', class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-floppy-disk"></i>
        <% end %>
      </span>
    </div>

  <% end %>
<% end %>