<% if not @enrollment.nil? %>
  <%= simple_form_for(@enrollment) do |f| %>
    <% if @enrollment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

        <ul>
        <% @enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <!--% default_date = l Time.zone.now, format: :default_datetime %-->
      <!--%= f.input :schedule, as: :datetime_picker, input_html: {data: {date_options: {defaultDate: default_date}}, value: default_date} %-->

      <!--%= f.input :schedule, as: :schedule, interval: false, until: false, count: false %-->

      <div class="input-group">
        <%= f.text_field :preferences, class: 'form-control' %>
        <span class="input-group-btn" data-toggle="tooltip" data-placement="left" title="Save preferences">
          <%= button_tag :submit, class: 'btn btn-primary', "data-disable-with" => "Saving..." do %>
            <i class="fa fa-save"></i>
          <% end %>
        </span>
      </div>
    </div>

  <% end %>
<% end %>