<%= form_tag subscriptions_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <button class="btn btn-primary btn-large" id="stripe-unlimited">Give me Unlimited!</button>
  <!-- This button needs to be wired up to create a customer on Stripe and subscribe them to a Stripe Subscription Plan -->
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
  var handler = StripeCheckout.configure({
    key: "<%= Rails.configuration.stripe[:publishable_key] %>",
    image: "/favicon-194x194.png",
    name: "Boomshift",
    description: "Unlimited Plan ($5/mo.)",
    amount: "500",
    locale: "auto",
    email: "<%= current_user.email %>",
    panelLabel: "Subscribe!",
    allowRememberMe: false
  });

  document.getElementById('stripe-unlimited').addEventListener('click', function(e) {
    handler.open();
    e.preventDefault();
  });
  </script>
  <%= hidden_field_tag 'amount', 500 %>
<% end %>